*{
	margin: 0;
	padding: 0;
}


header{
	width: 100%;
	padding: 50px 0px; 
	display: flow-root;
}
.container{
	width: 1140px;
	margin: auto;
}

.nav-bar{
	width: 100%;
	float:left;
	height: 200px;
}
.logo{
	width: 25%;
	float:left;
	height: 200px;

}
.menu{
	width: 75%;
	height: 200px;
	float:right;
	text-align: right;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}
a{
	text-decoration: none;
}

.menu ul li a{
	padding: 0px 20px;
	font-family:'Playfair Display', serif;
	color: #c0c0c0;
	font-weight: 400;
}

.menu ul li a:hover{
	color: red;
}
.main-post{
	width: 100%;
	display: flow-root;

}
.description{
	padding: 70px;

}
.description h4{
	font-family:'Ubuntu', sans-serif; 
	color: #c0c0c0;
	margin-bottom: 20px;

}
.description h1{
font-family:'Playfair Display', serif;
color: #c4c4c4;
margin-bottom:30px;
}

.description p{
font-family: 'Playfair Display', serif;
font-weight: 400px;                  
margin-bottom: 40px;
}
.description span{
font-family:'Playfair Display', serif; 
color:#c0c0c0;
padding-top: 20px;
font-weight: 400px;
}
.post{
	width: 100%;
	display: flow-root;
	padding: 70px;

}
.gallery{
	width: 100%;
	float: left;
	padding: 75;
	
    }
.left{
	width: 46%;
	float: left;
}
.right{
	width: 46%;
	float: right;
}

.description h4{
	font-family:'Ubuntu', sans-serif; 
	color:#c0c0c0;
	margin-top: 20px;
	font-weight:300px;

}

.description h1{
font-family:'Playfair Display', serif;
color:#c4c4c4;
margin: 20px 0px;
}

.description p{
font-family: 'Playfair Display', serif;
font-weight: 400px;                  
margin-bottom: 40px;
}

.newsletter{
	width: 100%;
	background-color:#f0f0f0;
	display: flow-root;
	padding: 60px;
}
.subscribe{
	text-align: center;
}
.subscribe h1{
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
	margin: 30px 0px;
}
.subscribe input{
	font-family: 'Playfair Display', serif;
	padding: 15px 0px;
	width: 30%;
	border: none;
	border-bottom: 2px solid black;
	background: transparent;

}
.subscribe input::placeholder{
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
	color: #9b9b9b,

}
.subscribe input:focus{
	outline: 0px;
}
.loading-page{
	width: 100%;
	display: flow-root;
	
}
.load{
	text-align: center;
}


.load input{
	font-family: 'Playfair Display', serif;
	padding: 15px 0px;
	font-weight: 400px;
	width: 20%;
	color: #626262;
	margin-bottom:100px;
	background: transparent;
}
.footer{
	width: 100%;
	display: flow-root;
	margin-top: 100px;
	background-color: #f0f0f0;
}
.last-part{
	width: 100%;
	float: left;
	height: 100px;
	margin: 0px 70px;
}
.text{
	width: 50%;
	float: left;
	margin-top: 30px;

}

.text ul li{
	list-style: none;
	display: inline-block;
	color: #202020;
}

.i-con{
	width: 50%;
	float: right;
	text-align: right;
	margin-top: 30px;

}

.i-con ul li{
	list-style: none;
	display: inline-block;
	font-family: font-family: 'Playfair Display', serif;
	color: 626262;

	}

.i-con ul li a{
	color: 626262;
	padding: 0px 10px;
}